@import "../screens.scss";
.canvas{
    width: 100%;
    display: flex;
    justify-content: center;
}
canvas{
    max-width: 100%;
}

@media #{$maxIpad} {
    .are-small{
        display: flex;
        justify-content: space-evenly!important;
    }
}
@media #{$mobile} {
    .are-small{
        display: flex;
        justify-content: center!important;
    }
}
.is-gapless{
    background: black;
    width: 100%;
    position: absolute;
    border-radius: 6px;
}
.container{
    display: flex!important;
    justify-content: center;
}